@page
@model WebClient.Pages.Manager.ListGradesModel

@{
    ViewData["Title"] = "List Grades";
}
@*Modal Toast*@
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 999">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header justify-content-between">
            @*toast-title*@
            <div id="toast-title">
            </div>
            <div class="d-flex align-content-center">
                <small>now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        @*toast-body*@
        <div id="toast-body" class="toast-body">
        </div>
    </div>
</div>

@*Modal Import Grades*@
<div class="modal fade" id="modal-import-grades" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="form-import-grades" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"><i class="fa-solid fa-file-import"></i> Import grades</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="input-file" class="form-label">File input (.xlsx)</label>
                        <input class="form-control form-control-sm" id="input-file" name="file" type="file" accept=".xlsx">
                    </div>
                    <div id="show-error" class="text-danger"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Import</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*Modal Add Grade*@
<div class="modal" id="add-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="form-add-grade">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="bi bi-person-fill-add"></i> Add Grade</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @*Select search StudentId*@
                    <label class="col-form-label-sm">Student</label>
                    <select id="add-student-id" name="studentId" style="width: 100%" required></select>
                    
                    @*Select search SubjectCode*@
                    <label class="col-form-label-sm">Subject</label>
                    <select id="add-subject-id" name="subjectId" style="width: 100%" required></select>
                    
                    @*Select GradeCategory*@
                    <label class="col-form-label-sm">Grade Category</label>
                    <select id="add-grade-category-id" name="gradeCategoryId" style="width: 100%" required></select>
                    
                    @*Input Grade*@
                    <label class="col-form-label-sm">Grade</label>
                    <input id="add-grade" name="grade" class="form-control form-control-sm" required type="number" step="any" min="0" max="10" />
                    
                    <div id="show-error-add" class="text-danger"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*Modal Edit Grade*@
<div class="modal" id="edit-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="form-edit-grade">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa-solid fa-pen-to-square"></i> Edit Grade</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label class="col-form-label-sm">Student Id</label>
                    <input name="studentId" class="form-control" readonly />                    
                    
                    <label class="col-form-label-sm">Student Name</label>
                    <input id="edit-student-name" class="form-control" readonly />

                    <label class="col-form-label-sm">Subject</label>
                    <input id="edit-subject-id" class="form-control" readonly />
                    <input name="subjectId" hidden />

                    <label class="col-form-label-sm">Grade Category</label>
                    <input id="edit-grade-category-id" class="form-control" readonly />
                    <input name="gradeCategoryId" hidden />

                    <label class="col-form-label-sm">Grade</label>
                    <input name="grade" class="form-control form-control-sm" type="number" step="any" min="0" max="10" required />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-sm"><i class="fa-solid fa-floppy-disk"></i> Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*Modal Delete Grade*@
<div class="modal" id="delete-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="form-delete-grade">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa-solid fa-trash"></i> Delete Grade</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label class="col-form-label-sm">Student Id</label>
                    <input name="studentId" class="form-control" readonly />

                    <label class="col-form-label-sm">Student Name</label>
                    <input id="delete-student-name" class="form-control" readonly />

                    <label class="col-form-label-sm">Subject</label>
                    <input id="delete-subject-id" class="form-control" readonly />
                    <input name="subjectId" hidden />

                    <label class="col-form-label-sm">Grade Category</label>
                    <input id="delete-grade-category-id" class="form-control" readonly />
                    <input name="gradeCategoryId" hidden />

                    <label class="col-form-label-sm">Grade</label>
                    <input name="grade" class="form-control form-control-sm" type="number" step="any" min="0" max="10" readonly />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i> Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<h3>List Grades</h3>
<div class="d-flex justify-content-between mb-2">
    <button id="btn-add-grade" class="btn btn-primary btn-sm"><i class="fa-solid fa-square-plus"></i> Add Grade</button>
    <div>
        <button class="btn btn-primary btn-sm" id="download-template"><i class="fa-solid fa-file-arrow-down"></i> Get template</button>
        <button class="btn btn-primary btn-sm" id="btn-import-grades"><i class="fa-solid fa-file-import"></i> Import Grades</button>
        <button class="btn btn-primary btn-sm" id="export-grades"><i class="fa-solid fa-file-export"></i> Export Grades</button>
    </div>
</div>

@*Table*@
<table class="display compact" style="width:100%">
    <thead>
        <tr>
            <th scope="col">StudentId</th>
            <th scope="col">SubjectCode</th>
            <th scope="col">GradeCategory</th>
            <th scope="col">Grade</th>
            <th scope="col">CreatedOn</th>
            <th scope="col">ModifiedOn</th>
            <th scope="col">CreatedBy</th>
            <th scope="col">ModifiedBy</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
</table>

@* Loading ajax*@
<div class="modal-loading"></div>

@section scripts{
    <script src="~/js/admin/listgrades.js"></script>
}