@page
@model WebClient.Pages.Manager.ListUsersModel

@{
    ViewData["Title"] = "List Users";
}
@*Modal Toast*@
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 999">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header justify-content-between">
            @*toast-title*@
            <div id="toast-title">
            </div>
            <div class="d-flex align-content-center">
                <small>now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        @*toast-body*@
        <div id="toast-body" class="toast-body">
        </div>
    </div>
</div>

@*Modal Import Users*@
<div class="modal fade" id="modal-import-users" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="form-import-users" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"><i class="fa-solid fa-file-import"></i> Import users</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="input-file" class="form-label">File input (.xlsx)</label>
                        <div class="input-group mb-3">
                            <input class="form-control form-control-sm" id="input-file" name="file" type="file" accept=".xlsx" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary btn-sm" id="download-template"><i class="fa-solid fa-file-arrow-down"></i> Get template</button>
                            </div>
                        </div>
                    </div>
                    <div id="show-error" class="text-danger"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Import</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*Modal Add User*@
<div class="modal" id="add-user-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="myForm" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa-solid fa-user-plus"></i> Add User</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body row">
                    <div class="col-6">
                        <div>
                            <label class="col-form-label-sm">Fullname</label>
                            <input id="add-uname" class="form-control form-control-sm" type="text" required />
                            <span class="text-danger small"></span>
                        </div>
                        <div>
                            <label class="col-form-label-sm">Email</label>
                            <input id="add-uemail" class="form-control form-control-sm" type="text" required />
                            <span class="text-danger small"></span>
                        </div>
                        <div>
                            <label class="col-form-label-sm">Password</label>
                            <div class="d-flex">
                                <input id="add-upw" class="form-control form-control-sm" type="password" required />
                                <i id="eye-password" class="fa-solid fa-eye"></i>
                            </div>
                            <span class="text-danger small"></span>
                        </div>
                        <div>
                            <label class="col-form-label-sm">Confirm password</label>
                            <div class="d-flex">
                                <input id="confirm-upw" class="form-control form-control-sm" type="password" required />
                                <i id="confirm-eye-password" class="fa-solid fa-eye"></i>
                            </div>
                            <span class="text-danger small"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <label class="col-form-label-sm">Phone</label>
                            <input id="add-uphone" class="form-control form-control-sm" type="number" required />
                            <span class="text-danger small"></span>
                        </div>
                        <div>
                            <label class="col-form-label-sm">Address</label>
                            <input id="add-uaddress" class="form-control form-control-sm" type="text" required />
                            <span class="text-danger small"></span>
                        </div>
                        <div>
                            <label class="col-form-label-sm">Role</label>
                            <select id="add-urole" class="form-select form-select-sm">
                                <optgroup label="choose role">
                                    <option value="1">admin</option>
                                    <option value="2" selected>teacher</option>
                                    <option value="3">student</option>
                                </optgroup>
                            </select>
                            <span class="text-danger small"></span>
                        </div>
                        <div>
                            <label class="col-form-label-sm">Status</label>
                            <select id="add-ustatus" class="form-select form-select-sm">
                                <optgroup label="choose status">
                                    <option value="0">active</option>
                                    <option value="1" selected>block</option>
                                </optgroup>
                            </select>
                            <span class="text-danger small"></span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="ModalAddSubmitForm();"><i class="fa-solid fa-floppy-disk"></i> Save</button>
                </div>
            </form>

        </div>
    </div>
</div>

@*Modal Edit User*@
<div class="modal" id="edit-user-modal" tabindex="-2" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa-solid fa-pen-to-square"></i> Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <div class="col-12">
                    <label class="col-form-label-sm">Id</label>
                    <input id="edit-id" class="form-control form-control-sm" readonly />
                </div>
                <div class="col-6">

                    <label class="col-form-label-sm">Fullname</label>
                    <input id="edit-uname" class="form-control form-control-sm" type="text" />

                    <label class="col-form-label-sm">Email</label>
                    <input id="edit-uemail" class="form-control form-control-sm" type="text" />

                    <label class="col-form-label-sm">Password</label>
                    <div class="d-flex">
                        <input id="edit-upw" class="form-control form-control-sm" type="password" />
                        <i id="edit-eye-password" class="fa-solid fa-eye"></i>
                    </div>
                </div>

                <div class="col-6">
                    <label class="col-form-label-sm">Phone</label>
                    <input id="edit-uphone" class="form-control form-control-sm" type="number" />

                    <label class="col-form-label-sm">Address</label>
                    <input id="edit-uaddress" class="form-control form-control-sm" type="text" />

                    <label class="col-form-label-sm">Role</label>
                    <select id="edit-urole" class="form-select form-select-sm">
                        <optgroup label="choose role">
                            <option value="1">admin</option>
                            <option value="2">teacher</option>
                            <option value="3">student</option>
                        </optgroup>
                    </select>

                    <label class="col-form-label-sm">Status</label>
                    <select id="edit-ustatus" class="form-select form-select-sm">
                        <optgroup label="choose status">
                            <option value="0">block</option>
                            <option value="1">active</option>
                        </optgroup>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="ModalEditSubmitForm();"><i class="fa-solid fa-floppy-disk"></i> Save changes</button>
            </div>
        </div>
    </div>
</div>

<h3>List Users</h3>
<div class="d-flex justify-content-between mb-2">
    <button id="btn-add-user" class="btn btn-primary btn-sm"><i class="fa-solid fa-user-plus"></i> Add User</button>
    <div>
        <button class="btn btn-primary btn-sm" id="btn-import-users"><i class="fa-solid fa-file-import"></i> Import Users</button>
        <button class="btn btn-primary btn-sm" id="export-users"><i class="fa-solid fa-file-export"></i> Export Users</button>
    </div>
</div>

@*Table*@
<table class="display compact nowrap" style="width:100%">
    <thead>
        <tr>
            <th scope="col">User Id</th>
            <th scope="col">Fullname</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Role</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
</table>

@* Loading ajax*@
<div class="modal-loading"></div>

@section scripts{
    <script src="~/js/admin/listusers.js"></script>
}