@page
@model WebClient.Pages.Manager.ListSubjectsModel

@{
    ViewData["Title"] = "List Subjects";
}
@*Modal Toast*@
<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 999">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header justify-content-between">
            @*toast-title*@
            <div id="toast-title">
            </div>
            <div class="d-flex align-content-center">
                <small>now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        @*toast-body*@
        <div id="toast-body" class="toast-body">
        </div>
    </div>
</div>

@*Modal Add Subject*@
<div class="modal" id="add-subject-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="bi bi-person-fill-add"></i> Add Subject</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label class="col-form-label-sm">Code</label>
                    <input id="add-code" class="form-control form-control-sm" type="text" />
                    <span class="text-danger small"></span>
                </div>

                <div>
                    <label class="col-form-label-sm">SubjectName</label>
                    <input id="add-name" class="form-control form-control-sm" type="text" />
                    <span class="text-danger small"></span>
                </div>

                <label class="col-form-label-sm">Teacher</label>
                <select id="add-teacher-id" style="width: 100%">
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="ModalAddSumibtForm();"><i class="bi bi-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>

@*Modal Edit Subject*@
<div class="modal" id="edit-subject-modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="bi bi-pencil-square"></i> Edit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label class="col-form-label-sm">Id</label>
                <input id="edit-id" readonly class="form-control form-control-sm" />

                <label class="col-form-label-sm">Code</label>
                <input id="edit-code" class="form-control form-control-sm" type="text" />

                <label class="col-form-label-sm">SubjectName</label>
                <input id="edit-name" class="form-control form-control-sm" type="text" />

                <label class="col-form-label-sm">Teacher</label>
                <select id="edit-teacher-id" style="width: 100%">
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm" onclick="ModalEditSubmitForm();"><i class="bi bi-save"></i> Save changes</button>
            </div>
        </div>
    </div>
</div>

<h3>List Subjects</h3>
<div class="mb-2">
    <button id="btn-add-subject" class="btn btn-primary btn-sm"><i class="bi bi-plus-square"></i> Add Subject</button>
</div>

@*Table*@
<table class="display compact" style="width:100%">
    <thead>
        <tr>
            <th scope="col">Subject Id</th>
            <th scope="col">Subject Code</th>
            <th scope="col">Subject Name</th>
            <th scope="col">Teacher</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
</table>

@* Loading ajax*@
<div class="modal-loading"></div>

@section scripts{
    <script src="~/js/Admin/ListSubjects.js"></script>
}