@page "/Homepage"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome back</h1>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            if (!localStorage.getItem('token')) {
                window.location.href = '/NotFound';
            }
        });
    </script>
}